.overlay{
    width: auto;
    max-width: 100%;
    overflow: scroll;
    margin-left: 5%;
    bottom: 5%;
    box-shadow: 1px 1px 3px;
    left: 2%;   
    padding: 5%;
    padding-top: 5%;
    word-wrap: break-word;
}

.ov-header{
    margin: 1%;
}

.close-overlay{
    padding: 5px;
    cursor:  pointer;
    font-size: 15px;
    margin-left: 1%;
    color: #0015ff;
}

.ov-title{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 1%;
    color: #403F3F;
}

.ov-refresh-ts{
    margin-left: 1%;
    color:#049fd9;
    font-size: 15px;

}


.row{
    display: flex;
    padding: 10%;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    background-color: white;
    margin-right: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

.labels{
    font-weight: bolder;
}

.label-no, .label-ip, .label-url{
    width: 400px;
}

.label-url-color{
    color: #049fd9;
    cursor: pointer;
}

.label-severity-color{
    background-color: rgba(255, 162, 0, 0.5);
    border: 2px orange solid;
    padding: 6px;
    border-radius: 20px;

}

.ts{
    width: 120px;
}

.level{
    width: 120px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.platform{
    width: 200px;
}

.description{
    width: 400px;
}

.url{
    width: 400px;
}

.info-level{
    background-color: green;
}

.war-level{
    background-color: orange;
}

.cri-level{
    background-color: red;
}

.apphealth-table th, .apphealth-table td {
    border: 1px solid #000000;
    padding: 8px; 
    display: table-cell;
    background-color: #e5e1e1;
    word-wrap: break-word;
}